<div class="card">
    <div class="card-header">
        {{ position.name }}
    </div>
    <div class="card-body">
        <p>
            {{ position.description }}
        </p>
        <div class="d-flex justify-content-between">
            <button class="btn btn-primary" (click)="apply()">Apply</button>
            <div>
                @for (skill of position.skills; track $index) {
                    <span class="badge text-bg-secondary ms-1">{{ skill.name }}</span>
                }
            </div>
        </div>
    </div>
</div>