<div class="container mt-8">
    <p-divider class="" />
    <div class="flex justify-content-between">

        <ul class="list-none p-0">
            <li>
                <a class="text-color" routerLink="/">Home</a>
            </li>
            <li>
                <a class="text-color" routerLink="/results">Check Results</a>
            </li>
            <li>
                <a class="text-color" routerLink="/admin">Admin</a>
            </li>
        </ul>
        <div>
            <small class="text-400">v{{ version }}</small>
        </div>
    </div>

</div>