<div class="container mb-5">
    <div class="flex justify-content-between align-items-center">
        <div class="flex justify-content-between align-items-center">
            <a class="no-underline text-color mr-4" routerLink='/'>
                <h1 class="text-teal-600">JobPostings</h1>
            </a>
            <a class="text-color" routerLink='/results'>Results</a>
        </div>

        <div class="text-right">
            <a routerLink='/admin' class="flex-grow-1 text-color">Admin</a>
        </div>
    </div>
</div>