
@if (selected.length) {
    <div class="mb-1">
    @for (skill of selected; track $index) {
        <span class="badge text-bg-info ms-1 cursor-pointer" (click)="removeFromSelected($index)">{{skill.name}}</span>
    }
    </div>
}

<div class="input-group mb-1">
    <input  #searchInput
            (keyup.enter)="create()"
            (input)="change($event)"
            type="text" class="form-control" placeholder="Find or create">
    @if (!displayed.length && searchPrompt.length) {
        <button (click)="create()"
                class="btn btn-sm btn-info">create</button>
    } @else {
        <button (click)="submit()"
                [disabled]="!selected.length" 
                class="btn btn-outline-info" type="button">Select</button>
    }            
</div>


<!-- when skill not found -->

@if (displayed.length || !isLoading) {
    @for (skill of displayed; track $index) {
        <span class="badge text-bg-secondary ms-1 cursor-pointer" (click)="addToSelected($index)">{{skill.name}}</span>
    }
} @else {
    <div class="spinner-border spinner-border-sm" role="status"></div>
}