<p-dialog 
    header="Apply Form" 
    [(visible)]="visible" 
    [modal]="true" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [style]="{ width: '50rem' }"
    [draggable]="false" 
    [resizable]="false">
    <p>
        Lorem ipsum dolor sit amet...
    </p>
    <app-apply-form-modal [positionId]="positionId" />
</p-dialog>


<div class="flex flex-column gap-5">
    @if (!positions.length) {
        <div class="spinner-border spinner-border-sm" role="status"></div>
    }

    @for (position of positions; track $index) {
        <app-position-item [position]="position" (onApply)="open($event)"/>
    }
</div>
