<a class="block mb-2 text-slate-600 text-xs hover:text-blue-800" [routerLink]="['/company/feedbacks']"
    [queryParams]="{'jobID': 'sdfsdfsdfll'}">
    <i class="fa fa-arrow-left me-1" aria-hidden="true"></i>
    Back
</a>

<div class="lg:flex items-start gap-4">
    <div class="lg:w-1/4 mb-4 lg:order-2">
        <div class="rounded-xl bg-slate-200 p-8">
            <div class="rounded-full overflow-hidden w-48 h-48 mx-auto mb-4">
                <img src="assets/img/user-1.jpg" alt="Jack Sully" class="w-full">
            </div>
            <ul class="mb-4">
                <li>
                    <a href="#" class="hover:text-blue-800">
                        <i class="fa fa-envelope me-2" aria-hidden="true"></i>
                        <span>jack.sully&#64;work.co</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="hover:text-blue-800">
                        <i class="fa fa-phone me-2" aria-hidden="true"></i>
                        <span>555-234-3443</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="hover:text-blue-800">
                        <i class="fa fa-twitter me-2" aria-hidden="true"></i>
                        <span>&#64;jacksully</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="hover:text-blue-800">
                        <i class="fa fa-github me-2" aria-hidden="true"></i>
                        <span>jacksully</span>
                    </a>
                </li>
            </ul>
            <div class="border border-t-0 border-solid border-slate-800 mb-4"></div>
            <ul class="flex gap-2 flex-col">
                <li>
                    <button class="bg-teal-400 p-2 rounded-md hover:bg-teal-500 text-sm">
                        write a text message
                    </button>
                </li>
                <li>
                    <button class="bg-teal-400 p-2 rounded-md hover:bg-teal-500 text-sm">
                        schedule a call
                    </button>
                </li>
                <li>
                    <button class="bg-red-400 p-2 rounded-md hover:bg-teal-500 text-sm">
                        decline
                    </button>
                </li>
            </ul>

        </div>
    </div>
    <div class="lg:w-3/4 lg:order-1">
        <div class="flex items-start justify-between gap-3 mb-4">
            <div class="font-bold text-4xl">Jack Sully</div>
            <div class="text-slate-600 text-sm">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                9 July 2024
            </div>
        </div>

        <div class="mb-4">
            <div class="font-bold">User welcome message:</div>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum dolore quo id omnis
                consequatur impedit dolores eum mollitia, totam voluptas rerum quos at reiciendis, a ea. Laborum,
                provident dolore!</div>
        </div>

        <div class="mb-4">
            <button class="bg-slate-100 py-2 px-4 rounded-lg">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                View Resume in the embedded pdf viewer
            </button>
        </div>

        <div class="mb-4">
            <button class="bg-slate-100 py-2 px-4 rounded-lg">
                <i class="fa fa-download" aria-hidden="true"></i>
                Download resume
            </button>
        </div>

        <div class="mb-4 border-t pt-4">
            <div class="font-bold text-2xl mb-4">Candidate details</div>

            <div class="mb-4">
                <div class="mb-2 text-lg font-bold">About</div>
                <div>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis eveniet ducimus deleniti magni,
                    est iste maxime voluptates cum nulla! Perspiciatis quo necessitatibus reiciendis quaerat placeat
                    adipisci ratione sequi quos molestiae.
                </div>
            </div>

            <div class="mb-4">
                <div class="mb-2 text-lg font-bold">Skills</div>
                <div class="flex flex-wrap gap-2">
                    <span class="py-1 px-2 bg-slate-200 rounded-md">React</span>
                    <span class="py-1 px-2 bg-slate-200 rounded-md">Python</span>
                    <span class="py-1 px-2 bg-slate-200 rounded-md">PHP</span>
                    <span class="py-1 px-2 bg-slate-200 rounded-md">GoLang</span>
                    <span class="py-1 px-2 bg-slate-200 rounded-md">HTML</span>
                    <span class="py-1 px-2 bg-slate-200 rounded-md">CSS/SCSS</span>
                    <span class="py-1 px-2 bg-slate-200 rounded-md">PostgreSQL</span>
                    <span class="py-1 px-2 bg-slate-200 rounded-md">SQL</span>
                </div>
            </div>

            <div class="mb-4">
                <div class="mb-2 text-lg font-bold">Certificates</div>
                <div class="flex flex-col gap-2">
                    <a href="#" class="hover:text-blue-800">
                        <i class="fa fa-link me-2" aria-hidden="true"></i>
                        Udemy certificate: React Developer
                    </a>
                    <a href="#" class="hover:text-blue-800">
                        <i class="fa fa-link me-2" aria-hidden="true"></i>
                        Linux Administration Certificate - System administrator lvl100
                    </a>
                </div>
            </div>

            <div class="mb-4">
                <div class="mb-2 text-lg font-bold">Work Experience</div>
                <div class="flex flex-col gap-2">
                    <div>
                        <div><b>RetroSolutions</b> - <i class="fa fa-calendar" aria-hidden="true"></i> 2015-2018</div>
                        <div>System administration / support</div>
                    </div>
                    <div>
                        <div><b>NWeb Agency</b> - <i class="fa fa-calendar" aria-hidden="true"></i> 2018-2022</div>
                        <div>Front end developer</div>
                    </div>
                    <div>
                        <div><b>Cats&Dogs inc</b> - <i class="fa fa-calendar" aria-hidden="true"></i> 2022-2024</div>
                        <div>Front end developer</div>
                    </div>
                </div>

            </div>

            <div class="mb-4">
                <div class="mb-2 text-lg font-bold">Hobby, personal projects</div>

                <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id laboriosam accusamus nihil quos
                    repellat? Velit dolor maxime tempora cupiditate repellat nihil! Et obcaecati repellat libero amet
                    soluta, hic odit enim.</div>
            </div>

        </div>
    </div>
</div>