<div class="rounded-lg p-5 bg-slate-200 relative">
    <div class="absolute top-5 right-5 text-lg">
        <i class="fa fa-star" aria-hidden="true"></i>
    </div>
    <a [routerLink]="['/company/jobs/dsjfhksdjfhsdkf']" class="block text-lg mb-4 hover:text-blue-800">
        Data science engineer <b class="text-green-500">( 12 )</b>
    </a>
    <p class="text-sm text-slate-600 mb-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt animi incidunt,
        eveniet unde molestias eaque
        beatae odio fuga sint? Dolore eaque porro dolores itaque facilis harum iusto perspiciatis accusantium deserunt.
    </p>

    <div class="text-sm mb-2 flex flex-col gap-1">
        <div>
            Price range: <b>$30k - $50k</b>
        </div>

        <div>
            Created: <b>Jul 12</b>
        </div>
    </div>

    <div class="flex justify-end">
        <a class="underline hover:text-blue-800 text-sm" [routerLink]="['/company/jobs/dsjfhksdjfhsdkf']">
            details
        </a>
    </div>
</div>
