<form [formGroup]="form" (ngSubmit)="submit()">
    <p>Applying to position with id: {{ positionId }}</p>

    <div class="row">
        <div class="col-sm-6 mb-3">
            <input class="form-control" placeholder="Name" formControlName="name" />
        </div>

        <div class="col-sm-6 mb-3">
            <input class="form-control" type="email" placeholder="Email" formControlName="email" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 mb-3">
            <input class="form-control" placeholder="Phone" formControlName="phone" />
        </div>

        <div class="col-sm-6 mb-3">
            <textarea class="form-control" placeholder="About" formControlName="about"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 mb-3">
            <app-skills-select (onSubmit)="setSelectedSkills($event)" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit" >Submit</button>

</form>
